@import 'mediaqueries.css';
*{
    margin: 0;
padding: 0;
box-sizing: 0;
}
    .titulo{
    font-size: 7rem;
    color: rgb(19, 18, 18);
    text-align: center;
    margin-bottom: -20px;
    padding: 1.7em;
    font-family: 'Roboto', sans-serif, 7rem;

}
.bienvenida{
    font-size: 7rem;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: -20px;
    padding: 0.5em;
    font-family: 'Roboto', sans-serif, 7rem;

    /* border: #000000;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgb(0,0,0,0.16),  rgb(0,0,0,0.23);
    -webkit-box-shadow:-1px 0px 10px  rgba(0,0,0,0.75);
   -moz-box-shadow: -1px 0px 20px -5px rgba(255, 247, 247, 0.966); */
    /* padding: 5.6rem;
    margin: 20% 20% ;
    margin-top: 2rem;
    */

}
.nav-item{
    font-size: 1.2rem;
}
.col-md-8{

    border-radius: 10px;
    box-shadow: 0 3px 6px rgb(0,0,0,0.16),  rgb(0,0,0,0.23);
    -webkit-box-shadow:1px 2px 8px  rgba(0,0,0,0.75);
    margin-bottom: 20px;
    padding: 1.7em;

}

.navbar-brand{
    font-family: 'Roboto', sans-serif, 7rem;
    font-size: 1.6rem;
}
¡
/* .cuadro{
    background: linear-gradient(0deg, #fae8e0 0%, #f5d8cb 16%, #fbcbb4  27%, #f5a88e 100%);
    background: linear-gradient(0deg, #f5a88e 0%, #fbcbb4 16%, #ebc8b8  27%, #f5d8cb 100%);
    height: 100vh;

} */
/* #app{
    background-color:#f5a88e ;
} */

.nav-link{

    color: white;
    font-size: 5rem;
}


 table{

    border: #000000;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgb(0,0,0,0.16),  rgb(0,0,0,0.23);
    -webkit-box-shadow:-1px 0px 20px  rgba(0,0,0,0.75);
   -moz-box-shadow: -1px 0px 20px -5px rgba(187, 29, 29, 0.966);
    padding: 1rem;
    background-color: #ffeae4;


}
h1{
    color: white;
}
#btn{
    padding: 0.6875 1.5rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    background-color: #02B875;
    border-color: #02B875;
    color: #ffffff;

}
#btn{
    font-size: 1rem;
}
#btn:hover{
    color: rgb(255, 255, 255);
    background: rgb(45, 173, 120);
    box-shadow: 0 5px 5px rgba(48, 194, 194, 0.7);
}
#lg{
    padding: 10.5px 27px;
    font-size: 14px;
    display: block;
    background-color: #02B875;
    border-color: #02B875;
    color: #ffffff;

}
#text{
    color: white;
}
#letter{
    text-align: center;
}
#chorro{
    color: white;
    transition: color .35s ease;
    padding: 10.5px 27px;
    font-size: 14px;
}
#chorro:hover{
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(33, 86, 102) 0%, rrgba(57, 136, 167, 0.723)52%, rgba(28,148,172,1) 99%);
    box-shadow: 0 5px 5px rgba(236, 223, 248, 0.7);
    border-radius: 80%;
    transition:  all .7s;

}

/* color: rgb(255, 255, 255);
background: linear-gradient(90deg, rgb(71, 132, 172) 0%,rgba(80, 163, 184, 0.723)) 52%, rgb(75, 154, 170) 99%);
box-shadow: 0 5px 5px rgba(48, 194, 194, 0.7);
border-radius: 80%; */


.nav-link{
    color: rgb(165, 34, 34);
    transition: color .35s ease;
    padding: 10.5px 27px;
    font-size: 14px;
}

#tablet{
    background-color: rgb(237, 231, 241);
}
.footer
{
    color:black;
    width: 100%;
    text-align: center;
    padding: 1em;
    align-self: flex-end;
}
.logo
{
    width: 2rem;
    margin-bottom: auto;
}


.texto
{
font-weight: bold;

}

/*.pie-pagina{
    position: fixed;
    bottom: 0;
    width: 100%;
}
*/
.logo{
    width: 2rem;
    border-radius: 65%;
}
#navbarDropdownMenuLink{

    background-color: white;
    padding: 0.375rem ;
    transition:  background-color .3s ease linear ;

    transition:  all .7s;
}


.mora{
    min-height: 100%;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background: linear-gradient(rgba(5,7,12, 0.75), rgba(5, 7, 12, 0.75));
}


.bd-placeholder-img
{
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px)
{
    .bd-placeholder-img-lg
    {
    font-size: 3.5rem;
    }
}

body,.fondo{
    background-color: brown;
}


#pedido,
#ventas,
#devollucions,
#dropbajas,
#dropproductos,
#dropcategorias{
    color: whitesmoke;


}
.navbar{
    /* background-color: rgb(53, 52, 51); */

    /* background: linear-gradient(0.25turn, #c8957d, #eb8a6a, #c8957d); */
    background-color: black;

    /* background-image: var(--bs-gradient); */
    -webkit-box-shadow: -2px 7px 8px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 7px 8px -4px rgba(0,0,0,0.75);
box-shadow: -2px 7px 8px -4px rgba(0,0,0,0.75);
}
body{

    background: linear-gradient(90deg, rgba(37,30,139,1) 0%, rgba(67,57,167,0.7230392156862745) 52%, rgba(28,148,172,1) 99%);
    /* font-family: 'Roboto', sans-serif; */



}
.img{
    background: linear-gradient(90deg, rgba(37,30,139,1) 0%, rgba(67,57,167,0.7230392156862745) 52%, rgba(28,148,172,1) 99%);
}
   h1{
    text-align: center;
    font-size: small;
    font-weight: bold;
}

/* .navbar-brand{
    text-align:;
    color: red;


} */
.titulo-principal{
    color:rgb(255, 255, 255);
    font-size: 600%;
    border-radius: 10px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: -50px;
    text-align:right;


    color: white;

}


 #fondo{
     background-color: rgb(250, 232, 232);
     background: url(../images/img.jpg) ;
     background-size: 100w 100vh;
     background: linear-gradient(130deg,#c8957d);
     opacity: 0.7;


 }


 .super{
 color: rgb(12, 10, 10);
 border: #000000;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgb(0,0,0,0.16),  rgb(0,0,0,0.23);
    -webkit-box-shadow:-1px 0px 20px  rgba(0,0,0,0.75);
   -moz-box-shadow: -1px 0px 20px -5px rgba(255, 247, 247, 0.966);
    padding: 1rem;
float: left;


    transition:  all .5s;
    color: rgb(230, 230, 230);

    position:relative;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    transition: all 500ms ease;
    border: 2px solid rgb(179, 246, 255);
    margin-bottom: 40px;
    z-index: 0;
    font-weight: 700;
    text-align: center;

    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1.15rem 2.75rem;
    font-weight: var(--font-medium);
    border-radius: 3rem;
    transition: .3s;

    }
    .nav {
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    .nav__btns {
        display: flex;
        align-items: center;
        column-gap: 1rem;
      }
      .header {
        width: 100%;
        background-color: var(--body-color);
        position: fixed;
        top: 0;
        left: 0;
        z-index: var(--z-fixed);
        transition: .4s;
      }


    .super span{
        position: relative;
        width:100% ;
        height: 100px;
        border-radius: 50%;
        background: rgba(17, 248, 248, 0.7);
        top: -50%;
        left: -100%;
        transition: .3s;
        overflow: hidden;
    }
    .super:hover span{
        left: -10%;
    }
    .super:hover{
        color: rgb(255, 255, 255);
        background: rgb(140, 115, 255);
        box-shadow: 0 5px 5px rgba(234, 217, 255, 0.7);
    }


.bare{}

#color1{
    color: black;
    outline: white;
    position: relative;

}

.nav{
    justify-content: right;
  align-items: flex-end;
  margin-left: 1em ;

}

.title{
    font-style: red;
}

#cosh
{
    font-size:100px;

}







@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


:root{
    --header-height: 3.5rem;



  --first-color-alt: hsl(355, 66%, 50%);
  --title-color: hsl(355, 4%, 15%);
  --text-color: hsl(355, 4%, 35%);
  --text-color-light: hsl(355, 4%, 55%);
  --body-color: #fff;
  --container-color: #fff;


  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;

  --biggest-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;


  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes abajo ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;


  --z-tooltip: 10;
  --z-fixed: 100;
}


@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.check{
    width: 100%;
    background: linear-gradient(90deg, rgba(37,30,139,1) 0%, rgba(67,57,167,0.7230392156862745) 52%, rgba(28,148,172,1) 99%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: .4s;
    display: block;


}
.nav__btns {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.change-theme {
  color: var(--title-color);
  font-size: 1.25rem;
  cursor: pointer;
}

/*========== Dark ==========*/
body.dark-theme {
  --title-color: hsl(0, 4%, 77%);
  --text-color: hsl(0, 4%, 63%);
  --body-color: hsl(355, 20%, 12%);
  --container-color: hsl(347, 41%, 29%);
}

/*==========

==========*/
.dark-theme .scroll-header,
.dark-theme .nav__menu {
  box-shadow: 0 2px 4px hsla(0, 0%, 4%, .3);
}

.dark-theme .message__container {
  background-color: var(--container-color);
}

.dark-theme .message__input {
  background-color: var(--body-color);
}

.dark-theme .message__button {
  background-color: var(--first-color);
}

.dark-theme .message__button:hover {
  background-color: var(--first-color-alt);
}

.dark-theme::-webkit-scrollbar {
  background: hsl(355, 8%, 30%);
}


.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2-5);
  text-align: center;
}


.header {
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: .4s;
}


.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__close,
.nav__toggle {
  color: var(--title-color);
}

.nav__logo {
  display: flex;
  align-items: center;
  column-gap: .25rem;
  font-weight: var(--font-medium);
  color: white;
}

.nav__logo-img {
  width: 1.5rem;
}

.nav__toggle {
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    top: -100%;
    left: 0;
    width: 100%;
    padding: 4rem 0;
    border-radius: 0 0 1.5rem 1.5rem;
    box-shadow: 0 1px 4px hsla(0, 4%, 15%, .1);
    transition: .4s;
  }
}

.nav__img {
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-15deg);
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;

}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: .3s;

  display: flex;
  align-items: center;
  column-gap: .25rem;
  font-weight: var(--font-medium);
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  font-size: 2rem;
  position: absolute;
  top: .5rem;
  right: 1rem;
  cursor: pointer;
}


.show-menu {
  top: 0;
}


.scroll-header {
  box-shadow: 0 1px 4px hsla(0, 4%, 15%, .1);
}


.active-link {
  color: var(--first-color);
}


.home__container {
  padding-top: 1.5rem;
  row-gap: 1.5rem;
}

.home__img {
  width: 320px;
  justify-self: center;
}

.home__data {
  text-align: center;
}

.home__title {
  font-size: var(--biggest-font-size);
  line-height: 140%;
  margin-bottom: var(--mb-0-5);
}

.home__description {
  font-size: var(--small-font-size);
  padding: 0 2rem;
  margin-bottom: var(--mb-2-5);
}


.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1.15rem 2.75rem;
  font-weight: var(--font-medium);
  border-radius: 3rem;
  transition: .3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}


.giving__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 1.5rem;
}

.giving__content {
  text-align: center;
}

.giving__img {
  width: 100px;
  transition: .3s;
}

.giving__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-25);
}

.giving__description {
  font-size: var(--small-font-size);
}

.giving__img:hover {
  transform: translateY(-.25rem);
}


.celebrate__container {
  row-gap: 1rem;
}

.celebrate__data {
  text-align: center;
}

.celebrate__title {
  margin-bottom: var(--mb-1-5);
}

.celebrate__description {
  margin-bottom: var(--mb-2-5);
}

.celebrate__img {
  width: 280px;
  justify-self: center;
}


.gift__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.gift__card {
  display: grid;
  position: relative;
  background-color: var(--container-color);
  box-shadow: 0 4px 16px hsla(355, 25%, 15%, .1);
  padding: 1.5rem 1rem 1rem;
  border-radius: .75rem;
}

.gift__img {
  width: 100px;
  justify-self: center;
  margin-bottom: var(--mb-0-25);
  transition: .3s;
}

.gift__icon {
  font-size: 1.25rem;
  color: var(--first-color);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.gift__price {
  font-size: var(--h3-font-size);
}

.gift__title {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
}

.gift__card:hover .gift__img {
  transform: translateY(-.25rem);
}


.new__card {
  position: relative;
  width: 230px;
  background-color: var(--container-color);
  box-shadow: 0 4px 16px hsla(355, 25%, 15%, .1);
  padding: 1rem 1rem 1.5rem;
  border-radius: .75rem;
  text-align: center;
  margin-bottom: 4rem;
  overflow: hidden;
}

.new__overlay {
  width: 250px;
  height: 250px;
  background-color: var(--first-color);
  border-radius: 50%;
  position: absolute;
  top: -5rem;
  left: -.65rem;
  z-index: 0;
}

.new__img {
  position: relative;
  width: 150px;
  margin-bottom: var(--mb-2);
  transition: .3s;
}

.new__price {
  font-size: var(--h2-font-size);
}

.new__title {
  font-weight: var(--font-medium);
}

.new__button {
  display: flex;
  padding: .5rem;
  border-radius: .25rem .25rem .75rem .25rem;
  position: absolute;
  right: 0;
  bottom: 0;
}

.new__icon {
  font-size: 1.25rem;
}

.new__card:hover .new__img {
  transform: translateY(-.5rem);
}


.swiper-pagination-bullet {
  background-color: var(--text-color);
}

.swiper-pagination-bullet-active {
  background-color: var(--first-color);
}


.message__container {
  row-gap: 3rem;
  background-color: var(--first-color);
  padding: 2.5rem 1.5rem 2.5rem;
  border-radius: 1.25rem;
}

.message__form {
  text-align: center;
}

.message__title {
  color: #fff;
  margin-bottom: var(--mb-1-5);
}

.message__input {
  width: 100%;
  background: #fff;
  color: var(--text-color);
  padding: 1rem 1.5rem;
  border-radius: 3rem;
  border: none;
  outline: none;
  margin-bottom: var(--mb-1);
}

.message__button {
  background-color: var(--title-color);
  width: 100%;
}

.message__button:hover {
  background-color: var(--title-color);
}

.message__img {
  width: 200px;
  justify-self: center;
  transform: rotate(15deg);
}


.footer {
  overflow: hidden;
}

.footer__container {
  position: relative;
  row-gap: 2rem;
}

.footer__logo {
  display: flex;
  align-items: center;
  column-gap: .25rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.footer__logo-img {
  width: 1.5rem;
}

.footer__description {
  font-size: var(--small-font-size);
}

.footer__logo,
.footer__title {
  margin-bottom: var(--mb-1);
}

.footer__title {
  font-size: var(--h3-font-size);
}

.footer__links,
.footer__aviables {
  display: flex;
  flex-direction: column;
  row-gap: .75rem;
}

.footer__link {
  color: var(--text-color);
  transition: .3s;
}

.footer__link:hover {
  color: var(--title-color);
}

.footer__aviable-img {
  width: 100px;
  cursor: pointer;
}

.footer__copy {
  display: block;
  margin: 3.5rem 0 1rem 0;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.footer__img1,
.footer__img2 {
  position: absolute;
  width: 100px;
}

.footer__img1 {
  top: 25%;
  right: 2rem;
}

.footer__img2 {
  top: 75%;
  right: -4rem;
}


.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: var(--container-color);
  box-shadow: 0 4px 12px hsla(0, 0%, 20%, .1);
  display: inline-flex;
  padding: .35rem;
  border-radius: .25rem;
  z-index: var(--z-tooltip);
  opacity: .8;
  transition: .4s;
}

.scrollup:hover {
  opacity: 1;
}

.scrollup__icon {
  font-size: 1.25rem;
  color: var(--first-color);
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
}


::-webkit-scrollbar {
  width: .6rem;
  background: hsl(355, 8%, 44%);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: hsl(355, 32%, 17%);
  border-radius: 1rem;
}


/* Para dispositivos pequeños */
@media screen and (max-width: 320px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .giving__container {
    gap: 1rem;
  }

  .gift__container {
    grid-template-columns: 150px;
    justify-content: center;
  }
}

/* para dispositivos medios */
@media screen and (min-width: 576px) {
  .home__description {
    padding: 0 8rem;
  }

  .giving__container {
    grid-template-columns: repeat(2, 142px);
    justify-content: center;
    gap: 2.5rem 3.5rem;
  }

  .celebrate__description {
    padding: 0 4rem;
  }

  .gift__container {
    grid-template-columns: repeat(2, 180px);
    justify-content: center;
    gap: 2rem;
  }

  .message__input,
  .message__button {
    width: 60%;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 6.5rem 0 2rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 3rem;
  }
  .nav__toggle,
  .nav__close,
  .nav__img {
    display: none;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }
  .dark-theme .nav__menu {
    box-shadow: none;
  }

  .home__container,
  .celebrate__container,
  .message__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .home__container {
    padding-top: 8rem;
  }
  .home__data {
    text-align: initial;
  }
  .home__description {
    padding: 0;
  }

  .giving__container {
    grid-template-columns: repeat(3, 142px);
    column-gap: 5rem;
  }

  .celebrate__data,
  .celebrate__title {
    text-align: initial;
  }
  .celebrate__description {
    padding: 0;
  }

  .gift__container {
    grid-template-columns: repeat(3, 200px);
    gap: 2.5rem;
  }

  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* para dispositivos largos */
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__container {
    column-gap: 1rem;
  }
  .home__img {
    width: 500px;
  }
  .home__description {
    padding-right: 8rem;
  }

  .giving__container {
    column-gap: 8rem;
    padding-top: 2rem;
  }
  .giving__img {
    width: 120px;
  }

  .celebrate__img {
    width: 450px;
  }
  .celebrate__description {
    padding-right: 7rem;
  }

  .gift__container {
    padding-top: 2rem;
  }
  .gift__card {
    padding: 2rem 1.5rem 1.5rem;
  }
  .gift__img {
    width: 120px;
    margin-bottom: var(--mb-1);
  }
  .gift__title {
    font-size: var(--small-font-size);
  }

  .new__container {
    padding-top: 2rem;
  }
  .new__card {
    margin-bottom: 5rem;
  }
  .new__price {
    font-size: var(--h3-font-size);
  }

  .message__container {
    padding: 3.5rem 0;
    grid-template-columns: repeat(2, max-content);
    column-gap: 4rem;
    justify-content: center;
  }

  .message__form {
    text-align: initial;
  }
  .message__title {
    font-size: var(--h1-font-size);
  }
  .message__input {
    display: block;
    width: 280px;
  }
  .message__button {
    width: initial;
  }
  .message__img {
    width: 320px;
  }

  .footer__container {
    grid-template-columns: repeat(4, max-content);
    justify-content: space-between;
  }
  .footer__copy {
    margin-top: 7rem;
  }
  .footer__img1,
  .footer__img2 {
    width: 120px;
  }
  .footer__img1 {
    top: 100%;
    left: 0;
  }
  .footer__img2 {
    top: 40%;
    right: -7rem;
  }

  .scrollup {
    right: 3rem;
  }
}
